
<!-- Grid system has 12 cells
Categories 3 cells on the left
Products 9 cells on the right
-->

<div class='container-fluid'>
    <div class='row' >
        <div class='col bg-danger text-white' > 
            <a class='navbar-brand'> Sanjeev's Online Store </a>
        </div>
    </div>

    <div class='row text-white'>
        <div class='col-3 bg-info p-2'>
            Categories {{ Categories.length }}
            <button class='btn btn-block btn-outline-dark' (click)='changeCategory()'>
                All Products
            </button>
            <button *ngFor='let item of Categories' 
                class='btn btn-block btn-outline-dark' 
                [class.active]='item == selectedCategory'
                (click)='changeCategory(item)'>
                {{ item }}
            </button>
        </div>
        <div class='col-9 bg-success p-2'>
            Products
            <div *ngFor='let item of Products' class='card m-1 p-1 bg-dark' > 
                <h4>
                    {{ item.name }}
                    <span class='badge badge-pill badge-primary float-right'>
                        {{ item.price | currency:"USD": "symbol":"2.2-2"}}
                    </span>
                </h4>
                <div class='card bg-dark p-1'>
                    {{ item.description }}
                </div>
            </div>
            <!-- Add pagination -->
            <div class='form-inline float-left mr-1'>
                <select class='form-control' [value] = 'productsPerPage'
                (change)='changePageSize($event.target.value)'>
                    <option value='4'> Four Products per Page </option>
                    <option value='6'> Six Products per Page </option>
                    <option value='8'> Eight Products per Page </option>
                </select>
            </div>
            <div class='btn-group float-right'>
                <button *ngFor='let page of getPageNumbers()' (click)='changePage(page)'
                class='btn btn-outline-dark' [class.active]='page == selectedPage'>
                    {{ page }}
                </button>
            </div>
        </div>
    </div>
</div>
