
<div class='bg-danger text-white p-2'>
    <h3> Sanjeev's Online Store Admin</h3>
</div>
<div class='bg-info text-white mt-2 p-2 text-center'
    *ngIf="errorMessage != null">
        {{ errorMessage }}
</div>

<!-- Admin Login Form -->
<div class='p-2'>  
    <form novalidate #form='ngForm' (ngSubmit)= 'authenticate(form)'>
        <div class='form-group'>
            <label> Username: </label>
            <input class='form-control' name='username' [(ngModel)]='username' required >
        </div>

        <div class='form-group'>
            <label> Password: </label>
            <input class='form-control' type='password' name='password' [(ngModel)]='password' required >
        </div>

        <div class='text-center'>
            <button class='btn btn-secondary m-1' routerLink='/'> Back </button>
            <button class='btn btn-primary m-1' type='submit'> Log in </button>
        </div>
    </form>
</div>